# Auto detect text files and perform LF normalization
* text=auto
#variable declaration

num = 1
name = 'Mike'
is_ok = True

print(num,type(num))      #type tells you type of variable
print(name,type(name))
print(is_ok,type(is_ok))

num = name  #num change int into str

name1 = '1' #you can't write 1name

new_num = int(name1)

print(new_num,type(new_num))


#print

print('Hi','Mike',end='\n') #Hi Mike
print('Hi','Mike',sep=',',end='\n') #Hi,Mike

print('Hi','Mike',sep=',',end='')
print('Hi','Mike',sep=',',end='') #Hi,MikeHi,Mike

#int

2+2 #4

5-2 #3

5*6 #30

50-5*6 #20

(50-5)*6 #270

8/5 #1.6

17//3 #5

17%3 #2

5**2 #25

5*5*5*5*5 #5**5

x = 5
y = 10

x*y  #50

pie = 3.141515151515151515
round(pie, 2)  #3.14 round to 2 decimal places

exit()  #exit the interactive shell

clear #cllear the interactive shell

import math

result = math.sqrt(25) #5
print(result)

y = math.log2(10) #3.321928094887362
print(y)

print(help(math)) #tell you detail math function







